.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculadora {
    width: 245px;
    height: 328px;
    max-width: 450px;
    max-height: 650px;
    border: 10px solid #89a5ff;
    border-radius: 15px;
    background: #c5d3ff;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.btn {
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    color: #FFF;
    font-size: 25px;
    background-color: rgb(31,31,31);
    cursor: pointer;
    margin: 3px;
}

.btn:hover {
    background-color: black;
}

.btn-calculo {
    background-color: rgb(31,31,31);
}

.resultado {
    width: 350px;
    height: 40px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 15px;
    padding: 5px;
}


.resultado button {
    background: rgb(31,31,31);;
    height: 30px;
    width: 80px;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
    color: #FFF;
    border: none;
    cursor: pointer;
}

.resultado button:active {
    background: rgb(31,31,31);;
}